body {
  background: blanchedalmond;
}

* {
  border: 5px solid grey;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  flex-grow: 1;
}

main {
  flex-grow: 3;
}

@media (min-width: 600px) {
  
.container {
  flex-direction: row;
  flex-wrap: wrap;

}

header {
  width: 100%;
}


}